---
import BaseLayout from "../Layouts/BaseLayout.astro"
---

<BaseLayout pageTitle="Home">
  <div class="home">
    <div class="menus">
      <div class="icon diamond">1</div>
      <div class="icon diamond">2</div>
      <div class="icon diamond">3</div>
      <div class="icon diamond">4</div>
      <div class="icon diamond">5</div>
      <div class="icon diamond">6</div>
      <div class="icon diamond">7</div>
      <div class="icon diamond">8</div>
      <div class="icon diamond">9</div>
      <div class="icon diamond" id="search">Search10</div>
      <div class="icon diamond" id="popular-list">Popular Play List11</div>
      <div class="icon diamond" id="popular-hits">Popular Hits12</div>
      <div class="icon diamond" id="my-playlist">My Play List13</div>
      <div class="icon diamond"  id="my-favorite-song">My Favorite Song14</div>
      <div class="icon diamond" id="logout">Logout15</div>
      <!-- <div class="icon diamond">7</div>
      <div class="icon diamond">8</div>
      <div class="icon diamond">9</div> -->
    </div>
    <div class="welcome-message">
      <h1>Hello!</h1>
      <p class="username">Username.</p>
    </div>
  </div>
</BaseLayout>
<style>
.home {
  display: flex;
  gap: 2rem;
  height:100vh;
  align-items: end;
  overflow: hidden;
  padding-left:50px;
  
}

.menus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: repeat(3, auto);
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
  transform: rotate(45deg);
  /* padding-bottom:10px; */
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  background-color: #ccc;
  color: #333;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
}

.icon:hover {
  background-color: #aaa;
}

.diamond {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color:white;
}




  
</style>

