---
import BaseLayout from "../Layouts/BaseLayout.astro"
---

<BaseLayout pageTitle="Home">
  <div class="home" id ="home">
    <div class="menus">
      <div class="icon diamond"></div>
      <div class="icon diamond"></div>
      <div class="icon diamond"></div>
      <div class="icon diamond"></div>
      <div class="icon diamond"></div>
      <div class="icon diamond" id="my-favorite-song">My Favorite Song</div>
      <div class="icon diamond" ></div>
      <div class="icon diamond" id="popular-hits">Popular Hits</div>
      <div class="icon diamond" id="my-playlist">My Play List</div>
      <div class="icon diamond" id="search"></div>
      <div class="icon diamond" id="profile">Profile</div>
      <div class="icon diamond" id="logout">Logout</div>
      <div class="icon diamond"></div>
      <div class="icon diamond" ></div>
      <div class="icon diamond"></div>
    </div>
    <div class="welcome-message">
      <h1>Hello!</h1>
      <h1 class="username">Username.</h1>
    </div>
  </div>
</BaseLayout>
<style>
.home {
  display: flex;
  gap: 2rem;
  height:100vh;
  align-items: end;
  overflow: hidden;
  padding-left:50px;
  background-image: url('./background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.menus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: repeat(3, auto);
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
  transform: rotate(45deg);
  /* padding-bottom:10px; */
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  background-color: #ccc;
  color: #333;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 30px;
}

.icon:hover {
  background-color: #aaa;
}

.diamond {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  color:white;
  margin-bottom: 80px;
}

.welcome-message h1{
  margin:0;
}
  
</style>

