---
import BaseLayout from "../Layouts/BaseLayout.astro"
---

<BaseLayout pageTitle="My Play List">
<h1>My Play List</h1>
<button class="add-btn">+</button>

</BaseLayout>

<style>
  h1{
    color:white
  }
</style>
