<footer>
  <p>2024 playlab. All right reserved.</p>
</footer>

<style>
  footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width:100vw;
  }

  footer p{
    margin: 0;
  }
</style>