<header>
  <div class="logo">Play Lab</div>
</header>

<style>
  header{
    position: fixed;
    top: 0;
    background-color:black ;
    width:100vw;
    z-index: 100;
    padding:20px;
  }
  
  .logo{
    color:white;
    justify-items: center;
  }
</style>